h1 {
    text-align: center;
}

p {
    text-align: center;;
}

section {
    text-align: center;
}

.dropdown {
    background: transparent;
    background-color: transparent;
    width: 50px;
    align-self: center;
}

.dropdown-menu {
	min-width: 200px;
}

.dropdown-divider
{
    background-color: bisque;
    font-weight: bold;
}

.dropdown-menu li {
    color: brown;
}